body {
background: #222;
color: white;
font-family: Arial, sans-serif;
text-align: center;
}

h1 {
font-size: 60px;
margin-bottom: 30px;
}

.container {
display: flex;
justify-content: space-around;
align-items: flex-start;
margin-top: 20px;
}

.lutador {
background: #333;
padding: 25px;
border-radius: 15px;
width: 350px;
}

.placar-box {
  border: none; /* remove a borda branca */
  padding: 25px; /* mantém espaçamento interno */
  margin-bottom: 20px;
  background: #333; /* mantém o fundo escuro */
}

.pontos {
font-size: 120px;
display: block;
margin: 15px 0;
font-weight: bold;
}

.extras {
  display: flex;
  justify-content: center; /* centraliza os itens */
  gap: 50px; /* espaço entre Vantagens e Faltas */
  margin-top: 15px;
  font-size: 30px;
}

.vantagem {
color: lime;
font-size: 40px;
font-weight: bold;
}

.faltas {
color: red;
font-size: 40px;
font-weight: bold;
}

.botoes button,
.extras button,
.timer button {
margin: 8px;
padding: 15px 25px;
font-size: 22px;
cursor: pointer;
border: none;
border-radius: 8px;
font-weight: bold;
}

button {
background: #555;
color: white;
}

button:hover {
background: #777;
}

.timer {
margin-top: 40px;
}

#cronometro {
 font-size: 120px; /* aumentei de 80px para 120px */
  display: block;
  margin-bottom: 30px;
  font-weight: bold;
}
h2{
    font-size: 35px;
}